@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Open Sans", sans-serif;
}

 h1, h2, h3 {
  font-family: "Poppins", sans-serif;
 }

.special-button {
  background: white;
  box-shadow: 0px 14px 55px rgba(96, 165, 255, 0.35);
  transition-duration: 200ms;
}

.special-button:hover {
  opacity: 0.8;
}